.app{
	text-align:center;
	padding:50px 30px 100px;
	background:#e0e0e0;
	margin:30px;
	font-family:'Pavanam', sans-serif;
}

.sliderContainer {
	font-family:'Dosis',sans-serif;
	position:relative;
	max-width:1260px;
	margin:auto;
	padding:30px;
	background:#3386aa;
}

.slider_intro, .slider_example{
	position:relative;
	text-align:center;
	background: pink;
}

.vertAlign{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1{
	font-family:'Dosis', sans-serif;
	color:#3386aa;
	font-weight:normal;
	font-size:4em;
	padding-bottom:40px;
}

h2{
	font-size: 5vw;
	margin:0;
}

h3{
	font-size:3vw;
	margin:0;
}

p{
	font-size:1.5em;
	color:#707070;
	padding-bottom:30px;
}
